@import '~bootstrap/scss/bootstrap';

div.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img.poster {
    width: 100%;
    height: auto;
}